@import 'shared';

.backgroundGrid {
  width: 100%;
  height: 100vh;
  z-index: -20;
  padding-top: 0;
  margin-top: 0;
  display: flex;

  background-color: black;
  overflow: hidden;
  position: relative;

  .gridDiv {
    // -webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));
    // mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgba(1, 1, 1, 1)), to(rgba(1, 1, 1, 1)));
    .vertDivContainer {
      position: absolute;
      width: 100%;
      height: 100%;
      .gridLine {
        width: 50px;
        height: 100%;
        margin-left: 10px;
        float: left;

        border-left: 1px solid lightblue;
      }
    }
    .horizDivContainer {
      position: absolute;
      width: 100%;
      height: 100%;

      .gridLineHoriz {
        width: 100%;
        position: relative;
        margin-top: 10px;
        height: 50px;
        border-top: 1px solid lightblue;
      }
    }
  }
  .gridDiv:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 50%, black 100%);
  }
}
