@import 'shared';

.Landing {
  // opacity: 0;

  > .greeting {
    max-width: 144rem;
    margin: 0 auto;
  }

  > .hero {
    width: 100%;
    color: #333;

    > .title {
      font-family: Roboto;
      margin: 0;
      width: 100%;
      padding-top: px(80);
      padding-bottom: px(24);
      letter-spacing: -1px;
      line-height: 1.15;
      font-size: px(48);
    }

    > .title,
    > .description {
      text-align: center;
    }

    > .row {
      max-width: px(800);
      margin: px(80) auto px(40);
      display: flex;
      align-items: stretch;
      justify-content: space-around;
      flex-wrap: wrap;

      > li {
        margin: px(10);

        .card {
          display: block;
          width: px(220);
          height: 100%;
          padding: px(18) px(18) px(24);
          border: 1px solid #9b9b9b;
          text-align: left;
          text-decoration: none;
          color: #434343;

          &:hover {
            border-color: #067df7;
          }

          > h3 {
            font-size: px(18);
          }

          > p {
            padding: px(12) 0 0;
            font-size: px(13);
            color: #333;
          }
        }
      }
    }
  }
}

.Projects {
  color: $white;
  text-align: left;

  .projectsSection {
    width: calc(100% - 4rem);
    margin: 0 auto;
    margin-top: $navbar-height-mobile;

    @include breakpoint(desktopSm) {
      margin-top: $navbar-height-desktop;
    }

    @include breakpoint(desktopMd) {
      max-width: 144rem;
      width: 100%;
    }
  }
}

.Custom404 {
  background-color: $white;
  align-items: center;
  display: flex;

  @include breakpoint(desktopSm) {
    align-items: baseline;
    display: block;
  }

  .custom404Meomji {
    width: 90vw;
    object-fit: contain;
    transform: translate(-50%, -50%);
    margin-top: 5%;
    margin-bottom: 5%;

    @include breakpoint(desktopSm) {
      width: 50vw;
    }
  }

  .error404Link {
    .error404Text {
      font-family: 'Roboto-Medium', sans-serif;
      text-transform: uppercase;
      color: #0a68e6;
      -webkit-text-fill-color: #fffbef;
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: #0a68e6;
      text-align: center;
      letter-spacing: 2px;
      font-size: 1.85em;
      margin-bottom: px(20);
      margin-left: px(20);
      margin-right: px(20);

      @include breakpoint(desktopSm) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .error404Home {
      -webkit-text-fill-color: #b2d1f9;
      text-decoration: underline;
    }
  }
}

.Contact {
  color: $white;
  text-align: left;

  .contactSection {
    width: calc(100% - 4rem);
    overflow: hidden;
    margin: 0 auto;
    margin-top: $navbar-height-mobile;

    @include breakpoint(desktopSm) {
      margin-top: $navbar-height-desktop;
    }

    @include breakpoint(desktopMd) {
      max-width: 144rem;
      width: 100%;
    }
  }

  .memojiImgContact {
    margin: px(20) auto;
    width: 40%;
    display: flex;

    @include breakpoint(tablet) {
      width: 10%;
    }
  }

  .contactLink {
    box-shadow: inset 0 0 0 0 $keshav-primary-colour;
    color: $white;
    border-radius: 10px;
    padding: 0.2rem 0.85rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(tablet) {
      margin: 0 px(10);
    }
  }

  .contactLink:hover {
    box-shadow: inset 100px 0 0 0 $keshav-primary-colour;
    color: $white;
  }

  .contactEmail {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: large;
    margin: px(50) auto;
  }

  .socialLinks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: px(20);

    @include breakpoint(tablet) {
      flex-direction: row;
      row-gap: 0;
      margin-bottom: px(5);
    }
  }
}
