@import 'shared';

.Landing {
  > .greeting {
    max-width: 144rem;
    margin: 0 auto;
  }

  > .hero {
    width: 100%;
    color: #333;

    > .title {
      font-family: Roboto;
      margin: 0;
      width: 100%;
      padding-top: px(80);
      padding-bottom: px(24);
      letter-spacing: -1px;
      line-height: 1.15;
      font-size: px(48);
    }

    > .title,
    > .description {
      text-align: center;
    }

    > .row {
      max-width: px(800);
      margin: px(80) auto px(40);
      display: flex;
      align-items: stretch;
      justify-content: space-around;
      flex-wrap: wrap;

      > li {
        margin: px(10);

        .card {
          display: block;
          width: px(220);
          height: 100%;
          padding: px(18) px(18) px(24);
          border: 1px solid #9b9b9b;
          text-align: left;
          text-decoration: none;
          color: #434343;

          &:hover {
            border-color: #067df7;
          }

          > h3 {
            font-size: px(18);
          }

          > p {
            padding: px(12) 0 0;
            font-size: px(13);
            color: #333;
          }
        }
      }
    }
  }
}

.Projects {
  color: $white;
  text-align: left;
  .projectsTitle {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .projectsSection {
    max-width: 144rem;
    margin: 0 auto;

    margin-top: $navbar-height-mobile;
    @include breakpoint(desktopSm) {
      margin-top: $navbar-height-desktop;
    }
  }
}

.Custom404 {
  background-color: $white;
  .custom404Meomji {
    width: 50vw;
    object-fit: contain;
    transform: translate(-50%, -50%);
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .error404Link {
    .error404Text {
      font-family: 'Roboto-Medium', sans-serif;
      text-transform: uppercase;
      color: #0a68e6;
      -webkit-text-fill-color: #fffbef;
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: #0a68e6;
      text-align: center;
      letter-spacing: 2px;
      font-size: 1.85em;
      margin-bottom: px(20);
    }

    .error404Home {
      -webkit-text-fill-color: #b2d1f9;
      text-decoration: underline;
    }
  }
}

.Contact {
  color: $white;
  text-align: left;
  // background-color: $white;
  .contactTitle {
    margin-top: 10%;
    // margin-bottom: 10%;
  }
  
  .contactSection {
    max-width: 144rem;
    margin: 0 auto;
    margin-top: $navbar-height-mobile;
    
    @include breakpoint(desktopSm) {
      margin-top: $navbar-height-desktop;
    }
  }

  .faIcon {
    color: white;
    background-color: white;
  }

  .memojiImgContact {
    margin-left: auto;
    margin-right: auto;
    // position: absolute;
    width: 10%;
    display: flex;
    // top: 0; left: 0; bottom: 0; right: 0;  
  }

  .contactLink {
    margin: 0 px(10);
    box-shadow: inset 0 0 0 0 #0a68e6;
    color: $white;
    border-radius: 10px;
    // margin: 0 -.25rem;
    padding: 0.2rem .85rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  
    
  }

  .contactLink:hover {
    box-shadow: inset 100px 0 0 0 #0a68e6;
    color: $white;
  }

  .contactEmail {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: large;
    margin-top: px(50);
    margin-bottom: px(50);
  }

  .socialLinks {
    display: flex;
    justify-content: center;
  }

}
