@import 'shared';

.greeting {
  // background-color: #fffbef;
  // background-color: $black;
  // border: 2px solid red;
  position: relative;
  display: flex;
  margin-top: $navbar-height-desktop;
  // minheight: 100vh;
  @include flex-center;
  width: 100%;
  color: $white;
}

.aboutParaLinks {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.aboutParaLinks:hover {
  box-shadow: inset 1000px 0 0 0 #54b3d6;
  color: white;
}

.gridParent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // border: 2px solid red;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  height: fit-content;
  grid-row-gap: 0px;
  top: 0;
}

.greetingBlurb {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: px(20);
  margin-top: 30%;
  text-align: left;
}

p.aboutPara {
  display: inline !important;
  border: 2px solid red;
}

.aboutMeBlurb {
  align-items: flex-start;
}

.memoji {
  width: 100%;
  height: 100%;
}

.hello {
  display: inline;
  font-size: px(70);
}

.memojiImg {
  max-width: px(200);
  margin-top: 30%;
  margin-left: 20%;
  display: grid;
}
