@import 'shared';

.greeting {
  // background-color: #fffbef;
  // background-color: $black;
  // border: 2px solid red;
  position: relative;
  display: flex;
  margin-top: $navbar-height-desktop;
  // minheight: 100vh;
  @include flex-center;
  width: 100%;
  color: $white;
}

.gridParent {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 20px;
  height: fit-content;
  grid-row-gap: 0px;
  top: 0;

  @include breakpoint(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.greetingBlurb {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: px(20);
  margin-top: px(30);
  text-align: left;

  @include breakpoint(tablet) {
    margin-top: 30%;
  }

  .aboutPara {
    display: inline !important;
  }

  a {
    @include link-styles;
  }

  a:hover {
    @include link-styles-hover;
  }
}
// border: 2px solid red;

p.aboutPara {
  display: inline !important;
}

.aboutMeBlurb {
  align-items: flex-start;
}

.memoji {
  width: 100%;
  height: 100%;
}

.hello {
  display: inline;
  font-size: px(70);
}

.memojiImg {
  max-width: px(200);
  display: grid;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint(tablet) {
    margin-left: 20%;
    margin-top: 30%;
  }
}
