@import 'shared';

.Footer {
  background-color: $black;
  color: $white;
  padding: px(50) 0;

  .footerLink {
    margin-left: (10px);
    margin-right: (10px);

    &:first-child {
      margin-top: 0;
      margin-left: 0;
    }
  }
  .keshavNameAnimationWrapper {
    @include flex-center;
    .keshavNameAnimation {
      margin-top: px(40);
      height: px(50);
      margin-bottom: px(40);
      overflow: visible;
      width: fit-content;
    }
  }
}
